@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
  padding: 3rem 7%;
}

.title {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 3rem;
  padding: 1.2rem 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  color: #009033;
}

.title span {
  color: #d40810;
}

.heading {
  background: url(images/heading-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 12rem;
  padding-bottom: 8rem;
}

.heading h1 {
  color: #fff;
  font-size: 4rem;
}

.heading p {
  padding-top: 1rem;
  font-size: 2rem;
  color: #fff;
}

.heading p a {
  color: #d40810;
  padding-right: 0.5rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  border: 0.1rem solid #009033;
  border-radius: 0.5rem;
  background: none;
  color: #009033;
  font-size: 1.7rem;
  cursor: pointer;
}

.btn:hover {
  background: #009033;
  color: #fff;
}

section {
  padding: 3rem 7%;
}

.title {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 3rem;
  padding: 1.2rem 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  color: #009033;
}

.title span {
  color: #d40810;
}

.heading {
  background: url(images/heading-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 12rem;
  padding-bottom: 8rem;
}

.heading h1 {
  color: #fff;
  font-size: 4rem;
}

.heading p {
  padding-top: 1rem;
  font-size: 2rem;
  color: #fff;
}

.heading p a {
  color: #d40810;
  padding-right: 0.5rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  border: 0.1rem solid #009033;
  border-radius: 0.5rem;
  background: none;
  color: #009033;
  font-size: 1.7rem;
  cursor: pointer;
}

.btn:hover {
  background: #009033;
  color: #fff;
}

/* Inicio header */
.header {
  top: 0;
  left: 0;
  right: 0;
  
}

.header .navbar a {
  font-size: 1.7rem;
  color: #009033;
  margin: 0 1rem;
  align-items: center;
  
}

.header .navbar a:hover {
  color: #d40810;
}

.header .icons div {
  font-size: 2.5rem;
  margin-left: 1.0rem;
  color: #009033;
  cursor: pointer;
}

.header .icons div:hover {
  color: #d40810;
}

.header .icons #menu {
  display: none;
}

.header .shopping-cart .box .fa-times:hover {
  color: #d40810;
}

.header .shopping-cart .box img {
  height: 10rem;
}

.header .shopping-cart .box .content h3 {
  font-size: 1.7rem;
  padding-bottom: 0.2rem;
  color: #009033;
}

.header .shopping-cart .box .content span {
  font-size: 1.5rem;
  color: #666;
}

.header .shopping-cart .box .content span.multiply {
  margin: 0 0.5rem;
}

.header .shopping-cart .total {
  color: #009033;
  text-align: center;
  font-size: 2.2rem;
}

.header .shopping-cart .btn {
  text-align: center;
  width: 100%;
}


/* Final header */


/*-----------------------------------*/
.categories {
    margin: 3px 0;
}

.small-container {
    max-width: 1720px;
    margin: auto;
    padding-left: 15px;
    padding-right: 25px;
    padding-top: 1px;
    padding-bottom: 2px;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

/*-------Featured Product----------*/
.title {
    text-align: center;
    margin: 0px auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title:after {
    content: "";
    background: #184726;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
}

h4 {
    color: #555;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.rating .fa {
    color: #0f4d0f;
}

.col-4:hover {
    transform: translateY(-5px);
}


/*----offer----*/
.offer {
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px o;
}

.col-2 .offer-img {
    padding: 50px;
}

small {
    color: #555;
}

/* footer */

.footer {
    background: #eee;
    text-align: center;
  }
  
  .footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
  }
  
  .footer .box-container .box h3 {
    font-size: 2.2rem;
    text-transform: capitalize;
    color: #009033;
    padding: 1rem 0;
  }
  
  .footer .box-container .box p {
    font-size: 1.5rem;
    line-height: 2;
    color: #666;
    padding: 1rem 0;
  }
  
  .footer .box-container .box .share {
    margin-top: 1rem;
  }
  
  .footer .box-container .box .share a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 10%;
    font-size: 1.8rem;
    border: 0.1rem solid #009033;
    color: #009033;
    margin-right: 0.3rem;
    text-align: center;
  }
  
  .footer .box-container .box .share a:hover {
    background: #009033;
    color: #fff;
  }
  
  .footer .box-container .box .link {
    font-size: 1.7rem;
    line-height: 2;
    color: #009033;
    padding: 0.5rem 0;
    display: block;
    text-decoration: underline;
  }
  
  .footer .box-container .box .link:hover {
    color: #ff7800;
  }
  
  .footer .credit {
    text-align: center;
    margin-top: 3rem;
    padding-top: 3rem;
    font-size: 2rem;
    text-transform: capitalize;
    color: #666;
    border-top: 0.1rem solid #666;
  }
  
  .footer .credit span {
    color: #ff7800;
  }

/*-------media-query-for-max-width-800------*/
@media only screen and (max-width:800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0px;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: 1s;
        max-height: 0;
        transition: max-height 0.5s;
    }

    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: #fff;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }
}

/*----600 media query----*/
@media only screen and (max-width:600px) {
    .row {
        text-align: center;
    }

    .col-1,
    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
    }
}

/*----All Product Page---*/
.row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
}

select {
    border: 1px solid #ff523b;
    padding: 5px;
}

select:focus {
    outline: none;
}

.page-btn {
    margin: 0 auto 80px;
}

.page-btn span {
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover {
    background: #ff523b;
    color: #fff;
}

/*-----Product details-----*/
.single-product {
    margin-top: 80px;
}

.single-product .col-2 img {
    padding: 0;
}

.single-product .col-2 {
    padding: 20px;
}

.single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select {
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}

input:focus {
    outline: none;
}

.single-product .fa {
    color: #ff523b;
    margin-left: 10px;
}

.small-img-row {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

/*----------600 media query---------*/
@media only screen and (max-width:600px) {
    .single-product .row {
        text-align: left;
    }

    .single-product .col-2 {
        padding: 20px 0;
    }

    .single-product h1 {
        font-size: 26px;
        line-height: 22px;
    }
}

/*----------cart page--------*/
.cart-page {
    margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #0f5b3a;
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: #ff523b;
    font-size: 12px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 350px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

@media only screen and (max-width:600px) {
    .cart-info p {
        display: none;
    }
}

/*-----Account page-----*/
.account-page {
    padding: 50px 0;
    background: radial-gradient(#fff, #ffd6d6);
}
.form-container {
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn {
    display: inline-block;
}
#indicator {
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}
.form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form input:focus {
    outline: none;
}
form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus {
    outline: none;
}
form a {
    font-size: 12px;
}
#LoginForm {
    left: -300px;
}
#RegForm {
    left: 0;
}

